<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomelo Fashion</title>
  </head>

  <body style="margin: 0">
    <header
      style="
        padding: 8px 20px;
        background-color: #fbfbfb;
        border-bottom: 1px solid #e5e5e5;
      "
    >
      <h1>Pomelo Fashions</h1>
    </header>
    {{{content}}}
  </body>
</html>
